.tickets__item {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
}
.tickets__item-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-right: 1px solid #eee;
}
