.filters__currency {
  padding: 15px;
}

.filters__currency-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 10px;
}

.filters__currency-buttons {
  display: flex;
  padding-bottom: 10px;
}
