.filters__checkbox-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 7px 15px;
}

.filters__checkbox-item:hover {
  background-color: #f1fcff;
}

.filters__checkbox-item-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #4a4a4a;
  gap: 10px;
}

.filters__checkbox-item-label {
  display: flex;
  width: 20px;
  height: 20px;
  position: relative;
  color: transparent;
  border: 2px solid #eee;
  border-radius: 5px;
  cursor: pointer;
}

.filters__checkbox-item-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.filters__checkbox-item-icon {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.filters__checkbox-item-only {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #2196f3;
  text-transform: uppercase;
  display: none;
  margin: auto 0;
}

.filters__checkbox-item:hover .filters__checkbox-item-only {
  display: inline-block;
}
